# YFinance API

In [9]:
import yfinance as yf
import pandas as pd

In [10]:
msft = yf.Ticker("MSFT")

In [11]:
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 49,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 56,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 4,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1717200000,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 446.34,
 'open': 446.3,
 'dayLow': 441.28,
 'dayHigh': 446.53,
 'regularMarketPreviousClose': 446.34,
 'regularMarketOpen': 446.3,
 'regularMarketDayLow': 441.28,
 'regularMarketDayHigh': 446.53,
 'dividendRate': 3.0,
 'dividendYield': 0.0067000003,
 'exDividendDate': 1723680000,
 'payoutRatio': 0.24780001,
 'fiveYearAvgDividendYield': 0.93,
 'beta': 0.893,
 'trailingPE': 38.483086,
 'forwardPE': 33.524075,
 'volume': 10127223,
 'regularMarketVolume': 10127223,
 'averageVolume': 18750701,
 'averageVolume10days': 16383640,
 'averageDailyVolume10Day': 16383640,
 'bid': 444.77,
 'ask': 445.06,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3306370891776,
 'fiftyTwoWeekLow': 309.45,
 'fiftyTwoWeekHigh': 450.94,
 'priceToSalesTrailing12Months': 13.975463,
 'fiftyDayAverage': 418.5124,
 'twoHundredDayAverage': 385.49316,
 'trailingAnnualDividendRate': 2.93,
 'trailingAnnualDividendYield': 0.0065645026,
 'currency': 'USD',
 'enterpriseValue': 3343551299584,
 'profitMargins': 0.36426997,
 'floatShares': 7421603274,
 'sharesOutstanding': 7432309760,
 'sharesShort': 43764126,
 'sharesShortPriorMonth': 56321541,
 'sharesShortPreviousMonthDate': 1713139200,
 'dateShortInterest': 1715731200,
 'sharesPercentSharesOut': 0.0058999998,
 'heldPercentInsiders': 0.00054000004,
 'heldPercentInstitutions': 0.73687,
 'shortRatio': 2.18,
 'shortPercentOfFloat': 0.0058999998,
 'impliedSharesOutstanding': 7432309760,
 'bookValue': 34.058,
 'priceToBook': 13.061969,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1711843200,
 'earningsQuarterlyGrowth': 0.199,
 'netIncomeToCommon': 86181003264,
 'trailingEps': 11.56,
 'forwardEps': 13.27,
 'pegRatio': 2.33,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 14.133,
 'enterpriseToEbitda': 26.54,
 '52WeekChange': 0.31388533,
 'SandP52WeekChange': 0.2522062,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1707868800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 444.8645,
 'targetHighPrice': 600.0,
 'targetLowPrice': 436.0,
 'targetMeanPrice': 487.36,
 'targetMedianPrice': 480.0,
 'recommendationMean': 1.6,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 46,
 'totalCash': 80013000704,
 'totalCashPerShare': 10.766,
 'ebitda': 125981999104,
 'totalDebt': 106228998144,
 'quickRatio': 1.132,
 'currentRatio': 1.242,
 'totalRevenue': 236583993344,
 'debtToEquity': 41.963,
 'revenuePerShare': 31.834,
 'returnOnAssets': 0.1541,
 'returnOnEquity': 0.38487998,
 'freeCashflow': 61997998080,
 'operatingCashflow': 110122999808,
 'earningsGrowth': 0.2,
 'revenueGrowth': 0.17,
 'grossMargins': 0.69894,
 'ebitdaMargins': 0.5325,
 'operatingMargins': 0.44588003,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2007}

In [17]:
msft.history(period="5y",interval='1d')
# Intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo])

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-06-20 00:00:00-04:00,131.321931,131.522575,129.669065,130.844223,33042600,0.0,0.0
2019-06-21 00:00:00-04:00,130.490670,131.589392,130.376025,130.863281,36727900,0.0,0.0
2019-06-24 00:00:00-04:00,130.891969,132.229545,130.891969,131.637192,20628800,0.0,0.0
2019-06-25 00:00:00-04:00,131.130836,131.455674,126.812352,127.481140,33327400,0.0,0.0
2019-06-26 00:00:00-04:00,128.360135,129.688162,127.643573,127.958847,23657700,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-13 00:00:00-04:00,440.850006,443.390015,439.369995,441.579987,15960600,0.0,0.0
2024-06-14 00:00:00-04:00,438.279999,443.140015,436.720001,442.570007,13582000,0.0,0.0
2024-06-17 00:00:00-04:00,442.589996,450.940002,440.720001,448.369995,20790000,0.0,0.0
2024-06-18 00:00:00-04:00,449.709991,450.140015,444.890015,446.339996,17112500,0.0,0.0
2024-06-20 00:00:00-04:00,446.299988,446.529999,441.279999,444.904999,10159523,0.0,0.0

In [201]:
msft.actions

                           Dividends  Stock Splits
Datetime
2024-05-15 09:30:00-04:00       0.75           0.0

In [202]:
msft.dividends

Datetime
2024-05-15 09:30:00-04:00    0.75
Name: Dividends, dtype: float64

In [203]:
msft.splits

Series([], Name: Stock Splits, dtype: float64)

In [238]:
msft.income_stmt

,2023-06-30,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Tax Effect Of Unusual Items,-2850000.0,43420000.0,180160797.164637,4760000.0,NaN
Tax Rate For Calcs,0.19,0.13,0.138266,0.17,NaN
Normalized EBITDA,105155000000.0,99905000000.0,83831000000.0,68395000000.0,NaN
Total Unusual Items,-15000000.0,334000000.0,1303000000.0,28000000.0,NaN
Total Unusual Items Excluding Goodwill,-15000000.0,334000000.0,1303000000.0,28000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Reconciled Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0,NaN
Reconciled Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0,NaN
EBITDA,105140000000.0,100239000000.0,85134000000.0,68423000000.0,NaN
EBIT,91279000000.0,85779000000.0,73448000000.0,55627000000.0,NaN
Net Interest Income,1026000000.0,31000000.0,-215000000.0,89000000.0,NaN
Interest Expense,1968000000.0,2063000000.0,2346000000.0,2591000000.0,NaN
Interest Income,2994000000.0,2094000000.0,2131000000.0,2680000000.0,NaN
Normalized Income,72373150000.0,72447420000.0,60148160797.164635,44257760000.0,NaN
Net Income From Continuing And Discontinued Operation,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Total Expenses,123392000000.0,114887000000.0,98172000000.0,90056000000.0,NaN
Total Operating Income As Reported,88523000000.0,83383000000.0,69916000000.0,52959000000.0,NaN
Diluted Average Shares,7472000000.0,7540000000.0,7608000000.0,7683000000.0,NaN
Basic Average Shares,7446000000.0,7496000000.0,7547000000.0,7610000000.0,NaN
Diluted EPS,9.68,9.65,8.05,5.76,NaN
Basic EPS,9.72,9.7,8.12,5.82,NaN
Diluted NI Availto Com Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Net Income Common Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Net Income,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Net Income Including Noncontrolling Interests,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Net Income Continuous Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN
Tax Provision,16950000000.0,10978000000.0,9831000000.0,8755000000.0,NaN
Pretax Income,89311000000.0,83716000000.0,71102000000.0,53036000000.0,NaN
Other Income Expense,-238000000.0,302000000.0,1401000000.0,-12000000.0,NaN
Other Non Operating Income Expenses,-223000000.0,-32000000.0,98000000.0,-40000000.0,NaN
Special Income Charges,-30000000.0,-101000000.0,-13000000.0,-133000000.0,NaN
Write Off,30000000.0,101000000.0,13000000.0,133000000.0,NaN
Restructuring And Mergern Acquisition,NaN,NaN,NaN,NaN,0.0
Gain On Sale Of Security,15000000.0,435000000.0,1316000000.0,161000000.0,NaN
Net Non Operating Interest Income Expense,1026000000.0,31000000.0,-215000000.0,89000000.0,NaN
Interest Expense Non Operating,1968000000.0,2063000000.0,2346000000.0,2591000000.0,NaN
Interest Income Non Operating,2994000000.0,2094000000.0,2131000000.0,2680000000.0,NaN
Operating Income,88523000000.0,83383000000.0,69916000000.0,52959000000.0,NaN
Operating Expense,57529000000.0,52237000000.0,45940000000.0,43978000000.0,NaN
Research And Development,27195000000.0,24512000000.0,20716000000.0,19269000000.0,NaN
Selling General And Administration,30334000000.0,27725000000.0,25224000000.0,24709000000.0,NaN
Selling And Marketing Expense,22759000000.0,21825000000.0,20117000000.0,19598000000.0,NaN
General And Administrative Expense,7575000000.0,5900000000.0,5107000000.0,5111000000.0,NaN
Other Gand A,7575000000.0,5900000000.0,5107000000.0,5111000000.0,NaN
Gross Profit,146052000000.0,135620000000.0,115856000000.0,96937000000.0,NaN
Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0,NaN
Total Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0,NaN
Operating Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0,NaN

In [206]:
msft.quarterly_income_stmt

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,-33660000.0,-29160000.0,-20700000.0,20855987.382214,30780000.0,NaN
Tax Rate For Calcs,0.18,0.18,0.18,0.187892,0.19,NaN
Normalized EBITDA,33741000000.0,33556000000.0,31845000000.0,28972000000.0,26556000000.0,NaN
Total Unusual Items,-187000000.0,-162000000.0,-115000000.0,111000000.0,162000000.0,NaN
Total Unusual Items Excluding Goodwill,-187000000.0,-162000000.0,-115000000.0,111000000.0,162000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Reconciled Depreciation,6027000000.0,5959000000.0,3921000000.0,3874000000.0,3549000000.0,NaN
Reconciled Cost Of Revenue,18505000000.0,19623000000.0,16302000000.0,16795000000.0,16128000000.0,NaN
EBITDA,33554000000.0,33394000000.0,31730000000.0,29083000000.0,26718000000.0,NaN
EBIT,27527000000.0,27435000000.0,27809000000.0,25209000000.0,23169000000.0,NaN
Net Interest Income,-181000000.0,-175000000.0,641000000.0,423000000.0,252000000.0,NaN
Interest Expense,800000000.0,909000000.0,525000000.0,482000000.0,496000000.0,NaN
Interest Income,619000000.0,734000000.0,1166000000.0,905000000.0,748000000.0,NaN
Normalized Income,22092340000.0,22002840000.0,22385300000.0,19990855987.382214,18167780000.0,NaN
Net Income From Continuing And Discontinued Operation,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Total Expenses,34277000000.0,34988000000.0,29622000000.0,31935000000.0,30505000000.0,NaN
Total Operating Income As Reported,27581000000.0,27032000000.0,26895000000.0,24254000000.0,22352000000.0,NaN
Diluted Average Shares,7472000000.0,7468000000.0,7462000000.0,7467000000.0,7464000000.0,NaN
Basic Average Shares,7431000000.0,7432000000.0,7429000000.0,7434000000.0,7441000000.0,NaN
Diluted EPS,2.94,2.93,2.99,2.69,2.45,NaN
Basic EPS,2.95,2.94,3.0,2.7,2.46,NaN
Diluted NI Availto Com Stockholders,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Net Income Common Stockholders,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Net Income,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Net Income Including Noncontrolling Interests,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Net Income Continuous Operations,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN
Tax Provision,4788000000.0,4656000000.0,4993000000.0,4646000000.0,4374000000.0,NaN
Pretax Income,26727000000.0,26526000000.0,27284000000.0,24727000000.0,22673000000.0,NaN
Other Income Expense,-673000000.0,-331000000.0,-252000000.0,50000000.0,69000000.0,NaN
Other Non Operating Income Expenses,-486000000.0,-169000000.0,-137000000.0,-61000000.0,-93000000.0,NaN
Special Income Charges,-17000000.0,-161000000.0,NaN,NaN,0.0,-4000000.0
Write Off,17000000.0,161000000.0,NaN,NaN,0.0,4000000.0
Gain On Sale Of Security,-170000000.0,-1000000.0,-115000000.0,141000000.0,162000000.0,NaN
Net Non Operating Interest Income Expense,-181000000.0,-175000000.0,641000000.0,423000000.0,252000000.0,NaN
Interest Expense Non Operating,800000000.0,909000000.0,525000000.0,482000000.0,496000000.0,NaN
Interest Income Non Operating,619000000.0,734000000.0,1166000000.0,905000000.0,748000000.0,NaN
Operating Income,27581000000.0,27032000000.0,26895000000.0,24254000000.0,22352000000.0,NaN
Operating Expense,15772000000.0,15365000000.0,13320000000.0,15140000000.0,14377000000.0,NaN
Research And Development,7653000000.0,7142000000.0,6659000000.0,6739000000.0,6984000000.0,NaN
Selling General And Administration,8119000000.0,8223000000.0,6661000000.0,8401000000.0,7393000000.0,NaN
Selling And Marketing Expense,6207000000.0,6246000000.0,5187000000.0,6204000000.0,5750000000.0,NaN
General And Administrative Expense,1912000000.0,1977000000.0,1474000000.0,2197000000.0,1643000000.0,NaN
Other Gand A,1912000000.0,1977000000.0,1474000000.0,2197000000.0,1643000000.0,NaN
Gross Profit,43353000000.0,42397000000.0,40215000000.0,39394000000.0,36729000000.0,NaN
Cost Of Revenue,18505000000.0,19623000000.0,16302000000.0,16795000000.0,16128000000.0,NaN
Total Revenue,61858000000.0,62020000000.0,56517000000.0,56189000000.0,52857000000.0,NaN
Operating Revenue,61858000000.0,62020000000.0,56517000000.0,56189000000.0,52857000000.0,NaN

In [207]:
# - balance sheet
msft.balance_sheet

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Ordinary Shares Number,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Share Issued,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Net Debt,12533000000.0,35850000000.0,43922000000.0,49751000000.0
Total Debt,59965000000.0,61270000000.0,67775000000.0,70998000000.0
Tangible Book Value,128971000000.0,87720000000.0,84477000000.0,67915000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,111256000000.0,104749000000.0,130256000000.0,136527000000.0
Other Short Term Investments,76552000000.0,90818000000.0,116032000000.0,122951000000.0
Cash And Cash Equivalents,34704000000.0,13931000000.0,14224000000.0,13576000000.0
Cash Equivalents,26226000000.0,5673000000.0,6952000000.0,7666000000.0
Cash Financial,8478000000.0,8258000000.0,7272000000.0,5910000000.0

In [208]:
msft.quarterly_balance_sheet

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Ordinary Shares Number,7433000000.0,7431612107.0,7431000000.0,7432000000.0,7437000000.0,NaN
Share Issued,7433000000.0,7431612107.0,7431000000.0,7432000000.0,7437000000.0,NaN
Net Debt,45808000000.0,56914000000.0,NaN,12533000000.0,21648000000.0,32470000000.0
Total Debt,79911000000.0,88374000000.0,84989000000.0,59965000000.0,60522000000.0,NaN
Tangible Book Value,105161000000.0,89441000000.0,144029000000.0,128971000000.0,116864000000.0,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,80013000000.0,80982000000.0,143945000000.0,111256000000.0,104419000000.0,NaN
Other Short Term Investments,60379000000.0,63677000000.0,63493000000.0,76552000000.0,77857000000.0,NaN
Cash And Cash Equivalents,19634000000.0,17305000000.0,80452000000.0,34704000000.0,26562000000.0,NaN
Cash Equivalents,8053000000.0,7769000000.0,73074000000.0,26226000000.0,18053000000.0,NaN
Cash Financial,11581000000.0,9536000000.0,7378000000.0,8478000000.0,8509000000.0,NaN

In [209]:
msft.cashflow

,2023-06-30,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Free Cash Flow,59475000000.0,65149000000.0,56118000000.0,45234000000.0,NaN
Repurchase Of Capital Stock,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0,NaN
Repayment Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0,NaN
Issuance Of Debt,NaN,NaN,NaN,0.0,0.0
Issuance Of Capital Stock,1866000000.0,1841000000.0,1693000000.0,1343000000.0,NaN
Capital Expenditure,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0,NaN
End Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0,NaN
Beginning Cash Position,13931000000.0,14224000000.0,13576000000.0,11356000000.0,NaN
Effect Of Exchange Rate Changes,-194000000.0,-141000000.0,-29000000.0,-201000000.0,NaN
Changes In Cash,20967000000.0,-152000000.0,677000000.0,2421000000.0,NaN
Financing Cash Flow,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0,NaN
Cash Flow From Continuing Financing Activities,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0,NaN
Net Other Financing Charges,-1006000000.0,-863000000.0,-2523000000.0,-3751000000.0,NaN
Cash Dividends Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0,NaN
Common Stock Dividend Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0,NaN
Net Common Stock Issuance,-20379000000.0,-30855000000.0,-25692000000.0,-21625000000.0,NaN
Common Stock Payments,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0,NaN
Common Stock Issuance,1866000000.0,1841000000.0,1693000000.0,1343000000.0,NaN
Net Issuance Payments Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0,NaN
Net Short Term Debt Issuance,NaN,NaN,NaN,0.0,0.0
Net Long Term Debt Issuance,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0,NaN
Long Term Debt Payments,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0,NaN
Long Term Debt Issuance,NaN,NaN,NaN,0.0,0.0
Investing Cash Flow,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0,NaN
Cash Flow From Continuing Investing Activities,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0,NaN
Net Other Investing Changes,-3116000000.0,-2825000000.0,-922000000.0,-1241000000.0,NaN
Net Investment Purchase And Sale,10213000000.0,18438000000.0,2876000000.0,6980000000.0,NaN
Sale Of Investment,47864000000.0,44894000000.0,65800000000.0,84170000000.0,NaN
Purchase Of Investment,-37651000000.0,-26456000000.0,-62924000000.0,-77190000000.0,NaN
Net Business Purchase And Sale,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0,NaN
Purchase Of Business,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0,NaN
Net PPE Purchase And Sale,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0,NaN
Purchase Of PPE,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0,NaN
Operating Cash Flow,87582000000.0,89035000000.0,76740000000.0,60675000000.0,NaN
Cash Flow From Continuing Operating Activities,87582000000.0,89035000000.0,76740000000.0,60675000000.0,NaN
Change In Working Capital,-2388000000.0,446000000.0,-936000000.0,-1483000000.0,NaN
Change In Other Working Capital,5177000000.0,5805000000.0,2324000000.0,-1419000000.0,NaN
Change In Other Current Liabilities,2825000000.0,3169000000.0,5551000000.0,2694000000.0,NaN
Change In Other Current Assets,-4824000000.0,-3514000000.0,-4391000000.0,-3367000000.0,NaN
Change In Payables And Accrued Expense,-2721000000.0,2943000000.0,2798000000.0,3018000000.0,NaN
Change In Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0,NaN
Change In Account Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0,NaN
Change In Inventory,1242000000.0,-1123000000.0,-737000000.0,168000000.0,NaN
Change In Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0,NaN
Changes In Account Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0,NaN
Stock Based Compensation,9611000000.0,7502000000.0,6118000000.0,5289000000.0,NaN
Deferred Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0,NaN
Deferred Income Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0,NaN
Depreciation Amortization Depletion,13861000000.0,14460000000.0,11686000000.0,12796000000.0,NaN
Depreciation And Amortization,13861000000.0,14460000000.0,11686000000.0,12796000000.0,NaN
Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0,NaN
Operating Gains Losses,196000000.0,-409000000.0,-1249000000.0,-219000000.0,NaN
Gain Loss On Investment Securities,NaN,NaN,NaN,-219000000.0,-792000000.0
Net Income From Continuing Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0,NaN

In [210]:
msft.quarterly_cashflow

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Free Cash Flow,20965000000.0,9118000000.0,20666000000.0,19827000000.0,17834000000.0,NaN,NaN
Repurchase Of Capital Stock,-4213000000.0,-4000000000.0,-4831000000.0,-5704000000.0,-5509000000.0,NaN,NaN
Repayment Of Debt,-11589000000.0,-2916000000.0,-1500000000.0,-1000000000.0,0.0,NaN,NaN
Issuance Of Debt,6352000000.0,10773000000.0,25765000000.0,NaN,0.0,0.0,NaN
Issuance Of Capital Stock,522000000.0,261000000.0,685000000.0,512000000.0,536000000.0,NaN,NaN
Capital Expenditure,-10952000000.0,-9735000000.0,-9917000000.0,-8943000000.0,-6607000000.0,NaN,NaN
End Cash Position,19634000000.0,17305000000.0,80452000000.0,34704000000.0,26562000000.0,NaN,NaN
Beginning Cash Position,17305000000.0,80452000000.0,34704000000.0,26562000000.0,15646000000.0,NaN,NaN
Effect Of Exchange Rate Changes,-80000000.0,72000000.0,-99000000.0,-81000000.0,29000000.0,NaN,NaN
Changes In Cash,2409000000.0,-63219000000.0,45847000000.0,8223000000.0,10887000000.0,NaN,NaN
Financing Cash Flow,-18808000000.0,-10147000000.0,14761000000.0,-11413000000.0,-10290000000.0,NaN,NaN
Cash Flow From Continuing Financing Activities,-18808000000.0,-10147000000.0,14761000000.0,-11413000000.0,-10290000000.0,NaN,NaN
Net Other Financing Charges,-498000000.0,-201000000.0,-307000000.0,-167000000.0,-258000000.0,NaN,NaN
Cash Dividends Paid,-5572000000.0,-5574000000.0,-5051000000.0,-5054000000.0,-5059000000.0,NaN,NaN
Common Stock Dividend Paid,-5572000000.0,-5574000000.0,-5051000000.0,-5054000000.0,-5059000000.0,NaN,NaN
Net Common Stock Issuance,-3691000000.0,-3739000000.0,-4146000000.0,-5192000000.0,-4973000000.0,NaN,NaN
Common Stock Payments,-4213000000.0,-4000000000.0,-4831000000.0,-5704000000.0,-5509000000.0,NaN,NaN
Common Stock Issuance,522000000.0,261000000.0,685000000.0,512000000.0,536000000.0,NaN,NaN
Net Issuance Payments Of Debt,-9047000000.0,-633000000.0,24265000000.0,-1000000000.0,0.0,NaN,NaN
Net Short Term Debt Issuance,-3810000000.0,-8490000000.0,18692000000.0,NaN,0.0,0.0,NaN
Short Term Debt Issuance,NaN,NaN,18692000000.0,NaN,NaN,NaN,0.0
Net Long Term Debt Issuance,-5237000000.0,7857000000.0,5573000000.0,-1000000000.0,0.0,NaN,NaN
Long Term Debt Payments,-11589000000.0,-2916000000.0,-1500000000.0,-1000000000.0,0.0,NaN,NaN
Long Term Debt Issuance,6352000000.0,10773000000.0,7073000000.0,NaN,0.0,0.0,NaN
Investing Cash Flow,-10700000000.0,-71925000000.0,503000000.0,-9134000000.0,-3264000000.0,NaN,NaN
Cash Flow From Continuing Investing Activities,-10700000000.0,-71925000000.0,503000000.0,-9134000000.0,-3264000000.0,NaN,NaN
Net Other Investing Changes,-1281000000.0,1347000000.0,-982000000.0,-269000000.0,-1686000000.0,NaN,NaN
Net Investment Purchase And Sale,3108000000.0,1492000000.0,12588000000.0,419000000.0,5330000000.0,NaN,NaN
Sale Of Investment,5291000000.0,5750000000.0,21048000000.0,12395000000.0,14393000000.0,NaN,NaN
Purchase Of Investment,-2183000000.0,-4258000000.0,-8460000000.0,-11976000000.0,-9063000000.0,NaN,NaN
Net Business Purchase And Sale,-1575000000.0,-65029000000.0,-1186000000.0,-341000000.0,-301000000.0,NaN,NaN
Purchase Of Business,-1575000000.0,-65029000000.0,-1186000000.0,-341000000.0,-301000000.0,NaN,NaN
Net PPE Purchase And Sale,-10952000000.0,-9735000000.0,-9917000000.0,-8943000000.0,-6607000000.0,NaN,NaN
Purchase Of PPE,-10952000000.0,-9735000000.0,-9917000000.0,-8943000000.0,-6607000000.0,NaN,NaN
Operating Cash Flow,31917000000.0,18853000000.0,30583000000.0,28770000000.0,24441000000.0,NaN,NaN
Cash Flow From Continuing Operating Activities,31917000000.0,18853000000.0,30583000000.0,28770000000.0,24441000000.0,NaN,NaN
Change In Working Capital,2522000000.0,-10300000000.0,2418000000.0,4243000000.0,1843000000.0,NaN,NaN
Change In Other Working Capital,1977000000.0,-7092000000.0,-2701000000.0,14905000000.0,1233000000.0,NaN,NaN
Change In Other Current Liabilities,2851000000.0,1492000000.0,-3815000000.0,2864000000.0,1721000000.0,NaN,NaN
Change In Other Current Assets,-1186000000.0,-702000000.0,-2809000000.0,-3967000000.0,598000000.0,NaN,NaN
Change In Payables And Accrued Expense,648000000.0,-2521000000.0,1214000000.0,1311000000.0,-407000000.0,NaN,NaN
Change In Payable,648000000.0,-2521000000.0,1214000000.0,1311000000.0,-407000000.0,NaN,NaN
Change In Account Payable,648000000.0,-2521000000.0,1214000000.0,1311000000.0,-407000000.0,NaN,NaN
Change In Inventory,260000000.0,1474000000.0,-505000000.0,374000000.0,106000000.0,NaN,NaN
Change In Receivables,-2028000000.0,-2951000000.0,11034000000.0,-11244000000.0,-1408000000.0,NaN,NaN
Changes In Account Receivables,-2028000000.0,-2951000000.0,11034000000.0,-11244000000.0,-1408000000.0,NaN,NaN
Stock Based Compensation,2703000000.0,2828000000.0,2507000000.0,2416000000.0,2465000000.0,NaN,NaN
Deferred Tax,-1323000000.0,-1702000000.0,-568000000.0,-1888000000.0,-1675000000.0,NaN,NaN
Deferred Income Tax,-1323000000.0,-1702000000.0,-568000000.0,-1888000000.0,-1675000000.0,NaN,NaN
Depreciation Amortization Depletion,6027000000.0,5959000000.0,3921000000.0,3874000000.0,3549000000.0,NaN,NaN
Depreciation And Amortization,6027000000.0,5959000000.0,3921000000.0,3874000000.0,3549000000.0,NaN,NaN
Depreciation,6027000000.0,5959000000.0,NaN,3874000000.0,3549000000.0,3648000000.0,NaN
Operating Gains Losses,49000000.0,198000000.0,14000000.0,44000000.0,-40000000.0,NaN,NaN
Net Income From Continuing Operations,21939000000.0,21870000000.0,22291000000.0,20081000000.0,18299000000.0,NaN,NaN

In [213]:
msft.insider_transactions

,Shares,Value,URL,Text,Insider,Position,Transaction,Start Date,Ownership
0,138,0,,Stock Award(Grant) at price 0.00 per share.,SCHARF CHARLES W,Director,,2024-06-07,D
1,138,0,,Stock Award(Grant) at price 0.00 per share.,STANTON JOHN W.,Director,,2024-06-07,D
2,138,0,,Stock Award(Grant) at price 0.00 per share.,MASON MARK,Director,,2024-06-07,D
3,138,0,,Stock Award(Grant) at price 0.00 per share.,LIST-STOLL TERI L.,Director,,2024-06-07,D
4,16996,0,,Stock Gift at price 0.00 per share.,NADELLA SATYA,Chief Executive Officer,,2024-06-05,I
...,...,...,...,...,...,...,...,...,...
145,166,0,,Stock Award(Grant) at price 0.00 per share.,SCHARF CHARLES W,Director,,2021-09-02,D
146,166,0,,Stock Award(Grant) at price 0.00 per share.,STANTON JOHN W.,Director,,2021-09-02,D
147,166,0,,Stock Award(Grant) at price 0.00 per share.,WARRIOR PADMASREE,Director,,2021-09-02,D
148,166,0,,Stock Award(Grant) at price 0.00 per share.,JOHNSTON HUGH F.,Director,,2021-09-02,D
149,166,0,,Stock Award(Grant) at price 0.00 per share.,WALMSLEY EMMA NATASHA,Director,,2021-09-02,D

In [239]:
msft.insider_purchases

       Insider Purchases Last 6m     Shares  Trans
0                      Purchases    18555.0     12
1                          Sales   107100.0      6
2    Net Shares Purchased (Sold)   -88545.0     18
3      Total Insider Shares Held  4013445.0   <NA>
4  % Net Shares Purchased (Sold)     -0.022   <NA>
5                   % Buy Shares      0.005   <NA>
6                  % Sell Shares      0.026   <NA>

In [242]:
msft.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         23   32     3     0           0
2    -2m         23   31     3     0           0
3    -3m         20   27     6     0           0

In [241]:
msft.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         23   32     3     0           0
2    -2m         23   31     3     0           0
3    -3m         20   27     6     0           0

In [217]:
msft.upgrades_downgrades

                                    Firm        ToGrade   FromGrade Action
GradeDate
2024-06-10 09:14:40  New Street Research            Buy               init
2024-06-07 12:01:58          Oppenheimer     Outperform  Outperform   main
2024-05-24 14:38:35          RBC Capital     Outperform  Outperform   reit
2024-05-22 16:21:14              Wedbush     Outperform  Outperform   reit
2024-05-17 17:46:16            Macquarie     Outperform  Outperform   main
...                                  ...            ...         ...    ...
2012-04-20 10:18:00        Deutsche Bank            Buy               main
2012-04-03 15:53:00                  UBS            Buy               main
2012-03-22 11:03:00       Morgan Stanley     Overweight               main
2012-03-19 18:00:00       Hilliard Lyons  Long-Term Buy               main
2012-03-16 12:19:00       Argus Research            Buy        Hold     up

[691 rows x 4 columns]

In [243]:
msft.news

[{'uuid': '0bb9fa06-b057-3f5d-b29c-bc6b50ae87b8',
  'title': 'Apple Overtakes Microsoft as Most Valuable U.S. Company',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/0bb9fa06-b057-3f5d-b29c-bc6b50ae87b8/apple-overtakes-microsoft-as.html',
  'providerPublishTime': 1718210193,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/awFmrW8mLIP48HlER0qLug--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/cc416b64399b72c0d44c1d2ca3b80eb9',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/TT5dOgal6h16F1GGdBFdLQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/cc416b64399b72c0d44c1d2ca3b80eb9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'AAPL', 'NVDA']},
 {'uuid': '3f02599a-1fdf-3576-8bf1-d76a1fabe4ee',
  'title': "Heard on the Street: Oracle's AI Future Outweighs its Present",
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/3f02599a-1fdf-3576-8bf1-d76a1fabe4ee/heard-on-the-street%3A-oracle%27s.html',
  'providerPublishTime': 1718210089,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/_VqXa1QOU0BVH8manycckg--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/5f6921760be1627f4c06f9530d1b4620',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/xIEgnoiTQg1L1HDds7FK8Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/5f6921760be1627f4c06f9530d1b4620',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'ORCL', 'CRM']},
 {'uuid': '75cbff4e-35a3-361e-9a85-91b895d21cba',
  'title': 'Apple Stock Hits Record High On AI-Driven iPhone Upgrade Forecast',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/75cbff4e-35a3-361e-9a85-91b895d21cba/apple-stock-hits-record-high.html',
  'providerPublishTime': 1718208147,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/2ir8KAEJB5obl7F71p4mbA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/388389f67246ec5d896b740f5d6312e0',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/AjJipUcpA.oktMNak6RTFw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/388389f67246ec5d896b740f5d6312e0',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'MSFT']},
 {'uuid': '5e266ef3-67cb-3e27-8dc6-75b6e6e6d537',
  'title': 'Microsoft, BlackRock CEOs expected to attend G7 session in Italy',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/microsoft-blackrock-ceos-expected-attend-155257612.html',
  'providerPublishTime': 1718207577,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Ecg1T9H1OXmzkz2Eahu4hA--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/755badbd76d19834e1a058ecaa23e4ae',
     'width': 800,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/IpDtgzsl0WNfF9h8Krl8pA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/755badbd76d19834e1a058ecaa23e4ae',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['BLK', 'MSFT']},
 {'uuid': '4205eaa9-f620-3a0b-a81a-0e82c7c9fd0b',
  'title': 'Magnificent Seven Stocks: Nvidia Stock, Apple Rally To More Record Highs',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/4205eaa9-f620-3a0b-a81a-0e82c7c9fd0b/magnificent-seven-stocks%3A.html',
  'providerPublishTime': 1718207442,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/kV2Fc5Kz3y8hNbXlVxHRQg--~B/aD01NjU7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/d5bee44b5deef90ccff5d488feb6722d',
     'width': 1000,
     'height': 565,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/My3O.I831YydYsn.iMoUvw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/d5bee44b5deef90ccff5d488feb6722d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AAPL', 'TSLA', 'META', 'MSFT']},
 {'uuid': 'f156b495-3ef1-390a-8d94-1f6aac6c73a4',
  'title': 'Is Microsoft Going to Be the First $4 Trillion Stock? 1 Wall Street Analyst Thinks So.',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/f156b495-3ef1-390a-8d94-1f6aac6c73a4/is-microsoft-going-to-be-the.html',
  'providerPublishTime': 1718207100,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Be2oyAQ_ZAJxvvCXp.5f2A--~B/aD0yMjQ1O3c9MzUxNTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/5dc27771bf38e86308edc22f0be4e4cc',
     'width': 3515,
     'height': 2245,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/EC3JUA1wEhJSYm_enVFZuQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/5dc27771bf38e86308edc22f0be4e4cc',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '30371a2b-2f0c-31b3-aa22-104cbcb74c2a',
  'title': 'Microsoft, Nvidia and Apple Are Racing Toward $4 Trillion. What Will Decide Who Gets There First.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/30371a2b-2f0c-31b3-aa22-104cbcb74c2a/microsoft%2C-nvidia-and-apple.html',
  'providerPublishTime': 1718203500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/OB2BFhFF3oRjKTVy1Qmc.w--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/2a46afaa0019a54ce4143ed294d85618',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/BXXBd72wMR0WiiNvmttqvw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/2a46afaa0019a54ce4143ed294d85618',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AAPL', 'MSFT']},
 {'uuid': '2f09939a-2a4c-3386-abd9-06f39bb5436f',
  'title': 'Oracle Stock Jumps. Why Its Deal With OpenAI Is So Important.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/2f09939a-2a4c-3386-abd9-06f39bb5436f/oracle-stock-jumps.-why-its.html',
  'providerPublishTime': 1718203380,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/TSyJ5IrB73EATqdgNtMDYA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/47f7ae9ba8ce31c9ff88169e68b032ae',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/epUDuLM6T_Kj50cQLDNy3w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/47f7ae9ba8ce31c9ff88169e68b032ae',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ORCL', 'MSFT', 'GOOG']}]

# Yahoo Query

In [244]:
from yahooquery import Ticker

aapl = Ticker('aapl')

In [245]:
aapl.asset_profile

{'aapl': {'address1': 'One Apple Park Way',
  'city': 'Cupertino',
  'state': 'CA',
  'zip': '95014',
  'country': 'United States',
  'phone': '408 996 1010',
  'website': 'https://www.apple.com',
  'industry': 'Consumer Electronics',
  'industryKey': 'consumer-electronics',
  'industryDisp': 'Consumer Electronics',
  'sector': 'Technology',
  'sectorKey': 'technology',
  'sectorDisp': 'Technology',
  'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
  'fullTimeEmployees': 150000,
  'companyOfficers': [{'maxAge': 1,
    'name': 'Mr. Timothy D. Cook',
    'age': 62,
    'title': 'CEO & Director',
    'yearBorn': 1961,
    'fiscalYear': 2023,
    'totalPay': 16239562,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Luca  Maestri',
    'age': 60,
    'title': 'CFO & Senior VP',
    'yearBorn': 1963,
    'fiscalYear': 2023,
    'totalPay': 4612242,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Jeffrey E. Williams',
    'age': 59,
    'title': 'Chief Operating Officer',
    'yearBorn': 1964,
    'fiscalYear': 2023,
    'totalPay': 4637585,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Ms. Katherine L. Adams',
    'age': 59,
    'title': 'Senior VP, General Counsel & Secretary',
    'yearBorn': 1964,
    'fiscalYear': 2023,
    'totalPay': 4618064,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': "Ms. Deirdre  O'Brien",
    'age': 56,
    'title': 'Senior Vice President of Retail',
    'yearBorn': 1967,
    'fiscalYear': 2023,
    'totalPay': 4613369,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Chris  Kondo',
    'title': 'Senior Director of Corporate Accounting',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. James  Wilson',
    'title': 'Chief Technology Officer',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Suhasini  Chandramouli',
    'title': 'Director of Investor Relations',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Greg  Joswiak',
    'title': 'Senior Vice President of Worldwide Marketing',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Adrian  Perica',
    'age': 49,
    'title': 'Head of Corporate Development',
    'yearBorn': 1974,
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0}],
  'auditRisk': 6,
  'boardRisk': 1,
  'compensationRisk': 2,
  'shareHolderRightsRisk': 1,
  'overallRisk': 1,
  'governanceEpochDate': '2024-05-31 20:00:00',
  'compensationAsOfEpochDate': '2023-12-30 19:00:00',
  'irWebsite': 'http://investor.apple.com/',
  'maxAge': 86400}}

In [221]:
aapl.calendar_events

{'aapl': {'maxAge': 1,
  'earnings': {'earningsDate': ['2024-08-01 06:59:S', '2024-08-05 08:00:S'],
   'earningsCallDate': [],
   'isEarningsDateEstimate': True,
   'earningsAverage': 1.33,
   'earningsLow': 1.27,
   'earningsHigh': 1.36,
   'revenueAverage': 83772000000,
   'revenueLow': 81952300000,
   'revenueHigh': 85372700000},
  'exDividendDate': '2024-05-09 20:00:00',
  'dividendDate': '2024-05-15 20:00:00'}}

In [222]:
aapl.earning_history

            maxAge  epsActual  epsEstimate  epsDifference  surprisePercent  \
symbol row
aapl   0         1       1.26         1.19           0.07            0.059
       1         1       1.46         1.39           0.07            0.050
       2         1       2.18         2.10           0.08            0.038
       3         1       1.53         1.50           0.03            0.020

               quarter period
symbol row
aapl   0    2023-06-30    -4q
       1    2023-09-30    -3q
       2    2023-12-31    -2q
       3    2024-03-31    -1q

In [223]:
aapl.earnings

{'aapl': {'maxAge': 86400,
  'earningsChart': {'quarterly': [{'date': '2Q2023',
     'actual': 1.26,
     'estimate': 1.19},
    {'date': '3Q2023', 'actual': 1.46, 'estimate': 1.39},
    {'date': '4Q2023', 'actual': 2.18, 'estimate': 2.1},
    {'date': '1Q2024', 'actual': 1.53, 'estimate': 1.5}],
   'currentQuarterEstimate': 1.33,
   'currentQuarterEstimateDate': '2Q',
   'currentQuarterEstimateYear': 2024,
   'earningsDate': ['2024-08-01 06:59:S', '2024-08-05 08:00:S'],
   'isEarningsDateEstimate': True},
  'financialsChart': {'yearly': [{'date': 2020,
     'revenue': 274515000000,
     'earnings': 57411000000},
    {'date': 2021, 'revenue': 365817000000, 'earnings': 94680000000},
    {'date': 2022, 'revenue': 394328000000, 'earnings': 99803000000},
    {'date': 2023, 'revenue': 383285000000, 'earnings': 96995000000}],
   'quarterly': [{'date': '3Q2023',
     'revenue': 81797000000,
     'earnings': 19881000000},
    {'date': '3Q2023', 'revenue': 89498000000, 'earnings': 22956000000},
    {'date': '4Q2023', 'revenue': 119575000000, 'earnings': 33916000000},
    {'date': '1Q2024', 'revenue': 90753000000, 'earnings': 23636000000}]},
  'financialCurrency': 'USD'}}

In [224]:
aapl.earnings_trend

{'aapl': {'trend': [{'maxAge': 1,
    'period': '0q',
    'endDate': '2024-06-30',
    'growth': 0.055999998,
    'earningsEstimate': {'avg': 1.33,
     'low': 1.27,
     'high': 1.36,
     'yearAgoEps': 1.26,
     'numberOfAnalysts': 25,
     'growth': 0.055999998},
    'revenueEstimate': {'avg': 83772000000,
     'low': 81952300000,
     'high': 85372700000,
     'numberOfAnalysts': 23,
     'yearAgoRevenue': 81797000000,
     'growth': 0.024},
    'epsTrend': {'current': 1.33,
     '7daysAgo': 1.32,
     '30daysAgo': 1.33,
     '60daysAgo': 1.32,
     '90daysAgo': 1.32},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 0,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+1q',
    'endDate': '2024-09-30',
    'growth': 0.048,
    'earningsEstimate': {'avg': 1.53,
     'low': 1.44,
     'high': 1.63,
     'yearAgoEps': 1.46,
     'numberOfAnalysts': 24,
     'growth': 0.048},
    'revenueEstimate': {'avg': 92321600000,
     'low': 88180500000,
     'high': 98453000000,
     'numberOfAnalysts': 23,
     'yearAgoRevenue': 89498000000,
     'growth': 0.032},
    'epsTrend': {'current': 1.53,
     '7daysAgo': 1.53,
     '30daysAgo': 1.53,
     '60daysAgo': 1.54,
     '90daysAgo': 1.55},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 0,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '0y',
    'endDate': '2024-09-30',
    'growth': 0.075,
    'earningsEstimate': {'avg': 6.59,
     'low': 6.43,
     'high': 6.92,
     'yearAgoEps': 6.13,
     'numberOfAnalysts': 39,
     'growth': 0.075},
    'revenueEstimate': {'avg': 386422000000,
     'low': 378268000000,
     'high': 393732000000,
     'numberOfAnalysts': 37,
     'yearAgoRevenue': 383285000000,
     'growth': 0.008},
    'epsTrend': {'current': 6.59,
     '7daysAgo': 6.59,
     '30daysAgo': 6.59,
     '60daysAgo': 6.55,
     '90daysAgo': 6.56},
    'epsRevisions': {'upLast7days': 1,
     'upLast30days': 2,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+1y',
    'endDate': '2025-09-30',
    'growth': 0.096,
    'earningsEstimate': {'avg': 7.22,
     'low': 6.4,
     'high': 7.9,
     'yearAgoEps': 6.59,
     'numberOfAnalysts': 39,
     'growth': 0.096},
    'revenueEstimate': {'avg': 411127000000,
     'low': 382083000000,
     'high': 436000000000,
     'numberOfAnalysts': 37,
     'yearAgoRevenue': 386422000000,
     'growth': 0.064},
    'epsTrend': {'current': 7.22,
     '7daysAgo': 7.22,
     '30daysAgo': 7.23,
     '60daysAgo': 7.15,
     '90daysAgo': 7.16},
    'epsRevisions': {'upLast7days': 0,
     'upLast30days': 1,
     'downLast30days': 0,
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '+5y',
    'endDate': None,
    'growth': 0.105,
    'earningsEstimate': {'avg': {},
     'low': {},
     'high': {},
     'yearAgoEps': {},
     'numberOfAnalysts': {},
     'growth': {}},
    'revenueEstimate': {'avg': {},
     'low': {},
     'high': {},
     'numberOfAnalysts': {},
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': {},
     '7daysAgo': {},
     '30daysAgo': {},
     '60daysAgo': {},
     '90daysAgo': {}},
    'epsRevisions': {'upLast7days': {},
     'upLast30days': {},
     'downLast30days': {},
     'downLast90days': {}}},
   {'maxAge': 1,
    'period': '-5y',
    'endDate': None,
    'growth': 0.20146,
    'earningsEstimate': {'avg': {},
     'low': {},
     'high': {},
     'yearAgoEps': {},
     'numberOfAnalysts': {},
     'growth': {}},
    'revenueEstimate': {'avg': {},
     'low': {},
     'high': {},
     'numberOfAnalysts': {},
     'yearAgoRevenue': {},
     'growth': {}},
    'epsTrend': {'current': {},
     '7daysAgo': {},
     '30daysAgo': {},
     '60daysAgo': {},
     '90daysAgo': {}},
    'epsRevisions': {'upLast7days': {},
     'upLast30days': {},
     'downLast30days': {},
     'downLast90days': {}}}],
  'maxAge': 1}}

In [225]:
aapl.financial_data

{'aapl': {'maxAge': 86400,
  'currentPrice': 217.11,
  'targetHighPrice': 275.0,
  'targetLowPrice': 164.0,
  'targetMeanPrice': 205.04,
  'targetMedianPrice': 202.86,
  'recommendationMean': 2.1,
  'recommendationKey': 'buy',
  'numberOfAnalystOpinions': 37,
  'totalCash': 67150000128,
  'totalCashPerShare': 4.379,
  'ebitda': 129629003776,
  'totalDebt': 104590000128,
  'quickRatio': 0.875,
  'currentRatio': 1.037,
  'totalRevenue': 381623009280,
  'debtToEquity': 140.968,
  'revenuePerShare': 24.537,
  'returnOnAssets': 0.22073999,
  'returnOnEquity': 1.4725,
  'freeCashflow': 84726874112,
  'operatingCashflow': 110563000320,
  'earningsGrowth': 0.007,
  'revenueGrowth': -0.043,
  'grossMargins': 0.45586,
  'ebitdaMargins': 0.33968,
  'operatingMargins': 0.30743,
  'profitMargins': 0.26306,
  'financialCurrency': 'USD'}}

In [226]:
aapl.insider_transactions

            maxAge  shares       value filerUrl  \
symbol row
aapl   0         1   75000  14368500.0
       1         1    4999    951785.0
       2         1    1850         0.0
       3         1    8119         NaN
       4         1   59162  10188880.0
...            ...     ...         ...      ...
       145       1   17000   1877109.0
       146       1   14840   1800686.0
       147       1   31200   3737869.0
       148       1   23652         NaN
       149       1   66532         NaN

                                     transactionText           filerName  \
symbol row
aapl   0             Sale at price 191.58 per share.   LEVINSON ARTHUR D
       1             Sale at price 190.40 per share.   KONDO CHRISTOPHER
       2         Stock Gift at price 0.00 per share.   ADAMS KATHERINE L
       3                                               KONDO CHRISTOPHER
       4             Sale at price 172.22 per share.  WILLIAMS JEFFREY E
...                                              ...                 ...
       145  Sale at price 109.22 - 110.99 per share.   ADAMS KATHERINE L
       146           Sale at price 121.34 per share.   KONDO CHRISTOPHER
       147  Sale at price 119.58 - 120.14 per share.     O'BRIEN DEIRDRE
       148                                             KONDO CHRISTOPHER
       149                                               O'BRIEN DEIRDRE

                      filerRelation moneyText   startDate ownership
symbol row
aapl   0                   Director            2024-05-30         D
       1                    Officer            2024-05-15         D
       2            General Counsel            2024-05-10         D
       3                    Officer            2024-04-15         D
       4    Chief Operating Officer            2024-04-11         I
...                             ...       ...         ...       ...
       145          General Counsel            2020-11-03         D
       146                  Officer            2020-10-16         D
       147                  Officer            2020-10-16         D
       148                  Officer            2020-10-15         D
       149                  Officer            2020-10-15         D

[150 rows x 10 columns]

In [227]:
aapl.key_stats

{'aapl': {'maxAge': 1,
  'priceHint': 2,
  'enterpriseValue': 3213895139328,
  'forwardPE': 30.070639,
  'profitMargins': 0.26306,
  'floatShares': 15308014061,
  'sharesOutstanding': 15334099968,
  'sharesShort': 99287450,
  'sharesShortPriorMonth': 101912593,
  'sharesShortPreviousMonthDate': '2024-04-14 20:00:00',
  'dateShortInterest': '2024-05-14 20:00:00',
  'sharesPercentSharesOut': 0.0064999997,
  'heldPercentInsiders': 0.052199997,
  'heldPercentInstitutions': 0.57611,
  'shortRatio': 1.53,
  'shortPercentOfFloat': 0.0064999997,
  'beta': 1.25,
  'impliedSharesOutstanding': 15334099968,
  'category': None,
  'bookValue': 4.837,
  'priceToBook': 44.88526,
  'fundFamily': None,
  'legalType': None,
  'lastFiscalYearEnd': '2023-09-29 20:00:00',
  'nextFiscalYearEnd': '2024-09-29 20:00:00',
  'mostRecentQuarter': '2024-03-29 20:00:00',
  'earningsQuarterlyGrowth': -0.022,
  'netIncomeToCommon': 100389003264,
  'trailingEps': 6.9,
  'forwardEps': 7.22,
  'pegRatio': 2.79,
  'lastSplitFactor': '4:1',
  'lastSplitDate': '2020-08-30 20:00:00',
  'enterpriseToRevenue': 8.422,
  'enterpriseToEbitda': 24.793,
  '52WeekChange': 0.12612128,
  'SandP52WeekChange': 0.22932172,
  'lastDividendValue': 0.25,
  'lastDividendDate': 1715299200}}

In [228]:
aapl.page_views

{'aapl': {'shortTermTrend': 'UP',
  'midTermTrend': 'UP',
  'longTermTrend': 'UP',
  'maxAge': 1}}

In [229]:
aapl.price

{'aapl': {'maxAge': 1,
  'preMarketChangePercent': 0.00111036,
  'preMarketChange': 0.230011,
  'preMarketTime': '2024-06-12 09:29:59',
  'preMarketPrice': 207.38,
  'preMarketSource': 'FREE_REALTIME',
  'regularMarketChangePercent': 0.048081137,
  'regularMarketChange': 9.960007,
  'regularMarketTime': '2024-06-12 14:14:28',
  'priceHint': 2,
  'regularMarketPrice': 217.11,
  'regularMarketDayHigh': 218.12,
  'regularMarketDayLow': 206.91,
  'regularMarketVolume': 126286621,
  'regularMarketPreviousClose': 207.15,
  'regularMarketSource': 'FREE_REALTIME',
  'regularMarketOpen': 207.36,
  'exchange': 'NMS',
  'exchangeName': 'NasdaqGS',
  'exchangeDataDelayedBy': 0,
  'marketState': 'REGULAR',
  'quoteType': 'EQUITY',
  'symbol': 'AAPL',
  'underlyingSymbol': None,
  'shortName': 'Apple Inc.',
  'longName': 'Apple Inc.',
  'currency': 'USD',
  'quoteSourceName': 'Nasdaq Real Time Price',
  'currencySymbol': '$',
  'fromCurrency': None,
  'toCurrency': None,
  'lastMarket': None,
  'marketCap': 3329186332672}}

In [230]:
aapl.recommendation_trend

           period  strongBuy  buy  hold  sell  strongSell
symbol row
aapl   0       0m         11   21     6     0           0
       1      -1m          9   17    14     2           0
       2      -2m         10   17    12     2           0
       3      -3m         10   24     7     1           0

In [231]:
aapl.share_purchase_activity

{'aapl': {'maxAge': 1,
  'period': '6m',
  'buyInfoCount': 15,
  'buyInfoShares': 674431,
  'buyPercentInsiderShares': 0.0,
  'sellInfoCount': 8,
  'sellInfoShares': 598229,
  'sellPercentInsiderShares': 0.0,
  'netInfoCount': 23,
  'netInfoShares': 76202,
  'netPercentInsiderShares': 0.0,
  'totalInsiderShares': 800439040}}

In [232]:
aapl.summary_detail

{'aapl': {'maxAge': 1,
  'priceHint': 2,
  'previousClose': 207.15,
  'open': 207.36,
  'dayLow': 206.91,
  'dayHigh': 218.12,
  'regularMarketPreviousClose': 207.15,
  'regularMarketOpen': 207.36,
  'regularMarketDayLow': 206.91,
  'regularMarketDayHigh': 218.12,
  'dividendRate': 1.0,
  'dividendYield': 0.0052,
  'exDividendDate': '2024-05-09 20:00:00',
  'payoutRatio': 0.14930001,
  'fiveYearAvgDividendYield': 0.71,
  'beta': 1.25,
  'trailingPE': 31.463768,
  'forwardPE': 30.069254,
  'volume': 126284360,
  'regularMarketVolume': 126284360,
  'averageVolume': 62596563,
  'averageVolume10days': 69328300,
  'averageDailyVolume10Day': 69328300,
  'bid': 217.06,
  'ask': 217.16,
  'bidSize': 100,
  'askSize': 100,
  'marketCap': 3329033240576,
  'fiftyTwoWeekLow': 164.08,
  'fiftyTwoWeekHigh': 218.12,
  'priceToSalesTrailing12Months': 8.723355,
  'fiftyDayAverage': 180.709,
  'twoHundredDayAverage': 181.93985,
  'trailingAnnualDividendRate': 0.96,
  'trailingAnnualDividendYield': 0.004634323,
  'currency': 'USD',
  'fromCurrency': None,
  'toCurrency': None,
  'lastMarket': None,
  'coinMarketCapLink': None,
  'algorithm': None,
  'tradeable': False}}

In [233]:
tickers = Ticker('fb aapl nflx', asynchronous=True)

# Default period = ytd, interval = 1d
df = tickers.history()
df

/Users/rodrigotiscareno/msci_436/venv/lib/python3.12/site-packages/yahooquery/utils/__init__.py:1470: FutureWarning: 'S' is deprecated and will be removed in a future version. Please use 's' instead of 'S'.
  has_live_indice = index_utc[-1] >= last_trade - pd.Timedelta(2, "S")
/Users/rodrigotiscareno/msci_436/venv/lib/python3.12/site-packages/yahooquery/utils/__init__.py:1470: FutureWarning: 'S' is deprecated and will be removed in a future version. Please use 's' instead of 'S'.
  has_live_indice = index_utc[-1] >= last_trade - pd.Timedelta(2, "S")
/Users/rodrigotiscareno/msci_436/venv/lib/python3.12/site-packages/yahooquery/ticker.py:1333: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dividends"].fillna(0, inplace=True)

                                        open        high         low  \
symbol date
aapl   2024-01-02                 187.149994  188.440002  183.889999
       2024-01-03                 184.220001  185.880005  183.429993
       2024-01-04                 182.149994  183.089996  180.880005
       2024-01-05                 181.990005  182.759995  180.169998
       2024-01-08                 182.089996  185.600006  181.500000
...                                      ...         ...         ...
nflx   2024-06-05                 634.020020  651.250000  628.250000
       2024-06-06                 644.890015  657.989990  644.239990
       2024-06-07                 649.380005  650.400024  640.239990
       2024-06-10                 641.010010  644.789978  635.590027
       2024-06-12 14:14:23-04:00  652.210022  655.770020  644.000000

                                       close      volume    adjclose  \
symbol date
aapl   2024-01-02                 185.639999  82488700.0  185.152283
       2024-01-03                 184.250000  58414500.0  183.765945
       2024-01-04                 181.910004  71983600.0  181.432098
       2024-01-05                 181.179993  62303300.0  180.703995
       2024-01-08                 185.559998  59144500.0  185.072495
...                                      ...         ...         ...
nflx   2024-06-05                 650.270020   2682600.0  650.270020
       2024-06-06                 648.520020   2466700.0  648.520020
       2024-06-07                 641.469971   1876600.0  641.469971
       2024-06-10                 644.500000   2066800.0  644.500000
       2024-06-12 14:14:23-04:00  645.109985   1189569.0  645.109985

                                  dividends
symbol date
aapl   2024-01-02                       0.0
       2024-01-03                       0.0
       2024-01-04                       0.0
       2024-01-05                       0.0
       2024-01-08                       0.0
...                                     ...
nflx   2024-06-05                       0.0
       2024-06-06                       0.0
       2024-06-07                       0.0
       2024-06-10                       0.0
       2024-06-12 14:14:23-04:00        0.0

[224 rows x 7 columns]

In [234]:
aapl.balance_sheet(frequency="q")

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,TreasurySharesNumber,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2022-09-30,3M,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.665700e+10,NaN,NaN
aapl,2022-12-31,3M,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aapl,2023-03-31,3M,USD,4.294500e+10,1.793600e+10,-6.966800e+10,1.104610e+11,6.956800e+10,2.468700e+10,5.587200e+10,...,3.321600e+11,1.591990e+11,1.096150e+11,6.215800e+10,2.700020e+11,2.192470e+11,1.499270e+11,NaN,NaN,-7.162000e+09
aapl,2023-06-30,3M,USD,4.669900e+10,1.954900e+10,-7.078700e+10,1.040610e+11,7.066700e+10,2.840800e+10,6.248200e+10,...,3.350380e+11,1.583450e+11,1.092800e+11,6.027400e+10,2.747640e+11,2.123790e+11,1.498010e+11,NaN,NaN,-2.304000e+09
aapl,2023-09-30,3M,USD,6.261100e+10,2.950800e+10,-7.088400e+10,1.005440e+11,7.381200e+10,2.996500e+10,6.155500e+10,...,3.525830e+11,1.574270e+11,1.110880e+11,6.214600e+10,2.904370e+11,2.090170e+11,1.451290e+11,1.545700e+10,0.0,-1.742000e+09
aapl,2023-12-31,3M,USD,5.814600e+10,2.319400e+10,-7.251000e+10,9.947500e+10,7.523600e+10,4.076000e+10,7.310000e+10,...,3.535140e+11,1.691880e+11,1.080400e+11,7.410000e+10,2.794140e+11,2.098220e+11,1.454410e+11,NaN,0.0,9.719000e+09
aapl,2024-03-31,3M,USD,4.575300e+10,2.183700e+10,-7.169700e+10,9.518700e+10,7.881500e+10,3.269500e+10,6.715000e+10,...,3.374110e+11,1.660250e+11,1.045900e+11,7.419400e+10,2.632170e+11,2.089950e+11,1.393950e+11,NaN,NaN,4.594000e+09

In [235]:
aapl.cash_flow()

,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowFromContinuingOperatingActivities,ChangeInAccountPayable,...,NetShortTermDebtIssuance,OperatingCashFlow,OtherNonCashItems,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2019-09-30,12M,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-6.240000e+08,NaN,NaN,NaN,NaN,NaN,NaN
aapl,2020-09-30,12M,USD,5.022400e+10,-7.309000e+09,-1.408100e+10,-8.682000e+10,-4.289000e+09,8.067400e+10,-4.062000e+09,...,-9.630000e+08,8.067400e+10,-9.700000e+07,-1.524000e+09,-1.149380e+11,-7.309000e+09,-1.262900e+10,-7.235800e+10,1.203910e+11,6.829000e+09
aapl,2021-09-30,12M,USD,3.978900e+10,-1.108500e+10,-1.446700e+10,-9.335300e+10,-1.454500e+10,1.040380e+11,1.232600e+10,...,1.022000e+09,1.040380e+11,-4.921000e+09,-3.300000e+07,-1.095580e+11,-1.108500e+10,-8.750000e+09,-8.597100e+10,1.064830e+11,7.906000e+09
aapl,2022-09-30,12M,USD,3.592900e+10,-1.070800e+10,-1.484100e+10,-1.107490e+11,-2.235400e+10,1.221510e+11,9.448000e+09,...,3.955000e+09,1.221510e+11,1.006000e+09,-3.060000e+08,-7.692300e+10,-1.070800e+10,-9.543000e+09,-8.940200e+10,6.736300e+10,9.038000e+09
aapl,2023-09-30,12M,USD,2.497700e+10,-1.095900e+10,-1.502500e+10,-1.084880e+11,3.705000e+09,1.105430e+11,-1.889000e+09,...,-3.978000e+09,1.105430e+11,-2.227000e+09,NaN,-2.951300e+10,-1.095900e+10,-1.115100e+10,-7.755000e+10,4.551400e+10,1.083300e+10
aapl,2024-03-31,TTM,USD,2.712900e+10,-8.644000e+09,-1.514200e+10,-1.082190e+11,4.448000e+09,1.105630e+11,2.165000e+09,...,0.000000e+00,1.105630e+11,-2.466000e+09,NaN,-4.335800e+10,-8.644000e+09,-6.672000e+09,-8.182500e+10,5.826900e+10,1.120300e+10

In [236]:
aapl.income_statement()

,asOfDate,periodType,currencyCode,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,EBIT,...,ReconciledCostOfRevenue,ReconciledDepreciation,ResearchAndDevelopment,SellingGeneralAndAdministration,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOperatingIncomeAsReported,TotalRevenue
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2020-09-30,12M,USD,1.735212e+10,3.31,1.695590e+11,1.752821e+10,3.28,5.741100e+10,6.996400e+10,...,1.695590e+11,1.105600e+10,1.875200e+10,1.991600e+10,0.0,9.680000e+09,0.144000,2.082270e+11,6.628800e+10,2.745150e+11
aapl,2021-09-30,12M,USD,1.670127e+10,5.67,2.129810e+11,1.686492e+10,5.61,9.468000e+10,1.118520e+11,...,2.129810e+11,1.128400e+10,2.191400e+10,2.197300e+10,0.0,1.452700e+10,0.133000,2.568680e+11,1.089490e+11,3.658170e+11
aapl,2022-09-30,12M,USD,1.621596e+10,6.15,2.235460e+11,1.632582e+10,6.11,9.980300e+10,1.220340e+11,...,2.235460e+11,1.110400e+10,2.625100e+10,2.509400e+10,0.0,1.930000e+10,0.162000,2.748910e+11,1.194370e+11,3.943280e+11
aapl,2023-09-30,12M,USD,1.574423e+10,6.16,2.141370e+11,1.581255e+10,6.13,9.699500e+10,1.176690e+11,...,2.141370e+11,1.151900e+10,2.991500e+10,2.493200e+10,0.0,1.674100e+10,0.147000,2.689840e+11,1.143010e+11,3.832850e+11
aapl,2023-09-30,TTM,USD,1.574423e+10,6.16,NaN,1.581255e+10,6.13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aapl,2023-12-31,TTM,USD,1.564849e+10,6.46,NaN,1.571778e+10,6.43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aapl,2024-03-31,TTM,USD,1.555317e+10,6.46,2.076570e+11,1.562219e+10,6.43,1.003890e+11,1.216080e+11,...,2.076570e+11,1.138900e+10,3.034800e+10,2.537800e+10,0.0,1.772300e+10,0.150052,2.633830e+11,1.182400e+11,3.816230e+11